# **Scraping Data From a Table on a Website**

In [ ]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [ ]:
url = "https://webpages.charlotte.edu/mscipion/"

r= requests.get(url)
print(r)

In [ ]:
soup = BeautifulSoup(r.text, "lxml")

In [ ]:
table = soup.find("table", class_="table table-sm table-hover screenertable")
print(table)     #uncomment to see full outp

None

In [ ]:

if "soup" not in locals() or soup is None:
    print("Soup object is not defined or is None.")
else:
    # Find the table within the soup
    table = soup.find("table")
    if table is not None:
        headers = table.find_all("th")
        print(headers)
    else:
        print("No table found in the soup object.")

In [ ]:
titles = []

for i in headers:
    title = i.text
    titles.append(title)
    
print(titles)

['Student', 'Favourite Computer Language', 'Years of Experience']

In [ ]:
df= pd.DataFrame(columns=titles)
print(df)

Empty DataFrame
Columns: [Student, Favourite Computer Language, Years of Experience]
Index: []

In [ ]:
rows = table.find_all("tr")
print(rows)           #uncomment to see full output

[<tr>
<th>Student</th>
<th>Favourite Computer Language</th>
<th>Years of Experience</th>
</tr>, <tr>
<td>Fred</td>
<td>Kotlin</td>
<td>4</td>
</tr>, <tr>
<td>Paula</td>
<td>Python</td>
<td>2</td>
</tr>, <tr>
<td>Ernst</td>
<td>Java</td>
<td>7</td>
</tr>, <tr>
<td>Isabel</td>
<td>C++</td>
<td>3</td>
</tr>, <tr>
<td>Tony</td>
<td>Pearl</td>
<td>7</td>
</tr>, <tr>
<td>Maria</td>
<td>Cobol</td>
<td>15</td>
</tr>]

In [ ]:

for i in rows[1:]:
    print(i)

<tr>
<td>Fred</td>
<td>Kotlin</td>
<td>4</td>
</tr>
<tr>
<td>Paula</td>
<td>Python</td>
<td>2</td>
</tr>
<tr>
<td>Ernst</td>
<td>Java</td>
<td>7</td>
</tr>
<tr>
<td>Isabel</td>
<td>C++</td>
<td>3</td>
</tr>
<tr>
<td>Tony</td>
<td>Pearl</td>
<td>7</td>
</tr>
<tr>
<td>Maria</td>
<td>Cobol</td>
<td>15</td>
</tr>

In [ ]:

for i in rows[1:]:
    data = table.find_all("td")
    print(data)

[<td>Fred</td>, <td>Kotlin</td>, <td>4</td>, <td>Paula</td>, <td>Python</td>, <td>2</td>, <td>Ernst</td>, <td>Java</td>, <td>7</td>, <td>Isabel</td>, <td>C++</td>, <td>3</td>, <td>Tony</td>, <td>Pearl</td>, <td>7</td>, <td>Maria</td>, <td>Cobol</td>, <td>15</td>]
[<td>Fred</td>, <td>Kotlin</td>, <td>4</td>, <td>Paula</td>, <td>Python</td>, <td>2</td>, <td>Ernst</td>, <td>Java</td>, <td>7</td>, <td>Isabel</td>, <td>C++</td>, <td>3</td>, <td>Tony</td>, <td>Pearl</td>, <td>7</td>, <td>Maria</td>, <td>Cobol</td>, <td>15</td>]
[<td>Fred</td>, <td>Kotlin</td>, <td>4</td>, <td>Paula</td>, <td>Python</td>, <td>2</td>, <td>Ernst</td>, <td>Java</td>, <td>7</td>, <td>Isabel</td>, <td>C++</td>, <td>3</td>, <td>Tony</td>, <td>Pearl</td>, <td>7</td>, <td>Maria</td>, <td>Cobol</td>, <td>15</td>]
[<td>Fred</td>, <td>Kotlin</td>, <td>4</td>, <td>Paula</td>, <td>Python</td>, <td>2</td>, <td>Ernst</td>, <td>Java</td>, <td>7</td>, <td>Isabel</td>, <td>C++</td>, <td>3</td>, <td>Tony</td>, <td>Pearl</td>, <td>7</td>, <td>Maria</td>, <td>Cobol</td>, <td>15</td>]
[<td>Fred</td>, <td>Kotlin</td>, <td>4</td>, <td>Paula</td>, <td>Python</td>, <td>2</td>, <td>Ernst</td>, <td>Java</td>, <td>7</td>, <td>Isabel</td>, <td>C++</td>, <td>3</td>, <td>Tony</td>, <td>Pearl</td>, <td>7</td>, <td>Maria</td>, <td>Cobol</td>, <td>15</td>]
[<td>Fred</td>, <td>Kotlin</td>, <td>4</td>, <td>Paula</td>, <td>Python</td>, <td>2</td>, <td>Ernst</td>, <td>Java</td>, <td>7</td>, <td>Isabel</td>, <td>C++</td>, <td>3</td>, <td>Tony</td>, <td>Pearl</td>, <td>7</td>, <td>Maria</td>, <td>Cobol</td>, <td>15</td>]

In [ ]:
for i in rows[1:]:
    data = i.find_all("td")
    row = [tr.text.strip() for tr in data]
    df.loc[len(df)] = row

df.head(6)

,Student,Favourite Computer Language,Years of Experience
0,Fred,Kotlin,4
1,Paula,Python,2
2,Ernst,Java,7
3,Isabel,C++,3
4,Tony,Pearl,7
5,Maria,Cobol,15